.timeline{
    padding: 0 !important;
}
.timeline .timeline_header{
    padding-top: 7px;
}
.timeline .timeline_firstitem{
    min-height: 60px !important;
}
.timeline .MuiTimelineItem-root {
 min-height: 0px;
}
.timeline .MuiTimelineItem-missingOppositeContent:before {
    display: none;
}
.timeline .timeline_dot_header {
    color: #fff;
    background-color: var(--main-color);
    font-size: small;
    padding: 0px !important;
}
/* Remaing Item */
.timeline .timeline_dot{
    color: #fff;
    background: var(--main-color);
    border-color: var(--main-color);
    padding: 2px !important;
}
/* .MuiTimelineContent-root {
   background-color: #eee !important;
} */
.timeline .timeline_dot_header > .MuiSvgIcon-root{
    font-size: 20px;
    color: white;
}
.timeline .separator_padding {
    padding-left: 8px !important;
}